#edit-button-password {
    position: absolute;
    bottom: 16px;
    right: 8px;
    font-size: 22px;
    font-weight: 700;
    display: block;
    cursor: pointer;
}

#edit-button-password:hover {
    color: #3F7CAC;
}