h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.channel {
    margin-top: 10px;
    cursor: pointer;
    padding: 2px;
}

.channel:hover {
    border: 1px solid #a4a4a1;
    border-radius: 5px;
}

#public-channel-list {
    margin-bottom: 20px;
}

#channel-button {
    background: none;
    border: none;
    margin-top: 7px;
}

#channel-button:focus {
    outline: none;
}

#channel-list-header {
    display: flex;
    justify-content: space-between;
}

.mark {
    width: 3px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.room-name-box {
    display: flex;
    align-items: center;
}